.light-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 12px;
  padding: 10px;
  width: 100%;
}

.light-btn {
  background: #33e0ff;
  border: 1px solid #1af0ff;
  color: #ffffffcc;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  transition: background 0.15s ease, box-shadow 0.15s ease, transform 0.05s ease;
  width: 100%;
  box-sizing: border-box;
}

.light-btn:hover {
  background: #33e0ff;
  box-shadow: 0 0 0 1px #1af0ff;
}

.light-btn.active {
  background: #33e0ff;
  border: 1px solid #1af0ff;
  color: #fff;
  transform: scale(0.96);
  box-shadow: 0 0 10px rgba(255,136,0,0.7);
}


@media (max-width: 1024px) {
  .light-grid {
    grid-template-columns: 165px 165px;  
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 0 10px;
  }

  .light-btn {
    height: 85px;        
    width: 165px;        
    border-radius: 20px; 
    font-size: 14px;
    padding: 0;
  }
}
