@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

button,
.home-btn,
.light-btn,
.menu-item,
.back-btn {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif !important;
  font-weight: 700; 
}
.settings-btn {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif !important;
  font-weight: 700; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
}


body {
  background-color:  #202f1e; 
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
}


nav {
  display: flex;
  align-items: center;
  background-color: #2c2c44; 
  height: 50px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.menu-item {
  margin-right: 25px;
  padding: 6px 14px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background 0.2s;
}

.menu-item:hover {
  background-color: #3f3f5e;
}

.menu-item.active {
  background-color: #5c5c90;
}

#app {
  height: calc(100vh);
  background-color:  #1e1e2f; 
  overflow: auto;
  padding: 10px;
}

#app::-webkit-scrollbar {
  width: 8px;
}

#app::-webkit-scrollbar-track {
  background: #1a1a2b;
}

#app::-webkit-scrollbar-thumb {
  background-color: #444470;
  border-radius: 4px;
}


@media (max-width: 1024px) {
  nav {
    display: none; 
  }

  #app {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-grid {
    display: grid;
    grid-template-columns: 165px 165px; 
    gap: 20px;                          
    justify-content: center;            
    align-items: center;
  }

  .home-btn {
    height: 85px;
    width: 165px;
    border-radius: 20px;
    background: #33e0ff;
    border: 1px solid #1af0ff;
    color: #ffffffcc;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: background 0.15s ease, box-shadow 0.15s ease, transform 0.05s ease;
  }
  
  .home-btn:active {
    background: #33e0ff;
    border: 1px solid #1af0ff;
    color: #ffffffcc;
    transform: scale(0.96);
    box-shadow: 0 0 10px rgba(255,136,0,0.7);
  }

  .back-btn {
    position: fixed;
    top: 5%;
    left: 6%;
    background: #33e0ff;
    border: 1px solid #1af0ff;
    color: #ffffffcc;
    border-radius: 18px;
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1000;
    transition: background 0.15s ease, transform 0.05s ease;
  }

  .back-btn:active {
    background: #FF7700;
    transform: scale(0.95);
  }

  .settings-btn {
    position: fixed;
    top: 5%;
    left: 74%;
    background: #33e0ff;
    border: 1px solid #1af0ff;
    color: #ffffffcc;
    border-radius: 18px;
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1000;
    transition: background 0.15s ease, transform 0.05s ease;
  }

  .settings-btn:active {
    background: #FF7700;
    transform: scale(0.95);
  }


}

