.shutter-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 12px;
  padding: 10px;
  width: 100%;
}

.shutter-row {
  display: flex;
  gap: 8px;
  width: 100%;
}

.shutter-btn {
  background: #33e0ff;
  border: 1px solid #1af0ff;
  color: #ffffffcc;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  transition: background 0.1s linear, transform 0.05s ease, box-shadow 0.15s ease;
  width: 100%;
  box-sizing: border-box;
}

.shutter-btn:hover {
  box-shadow: 0 0 0 1px #1af0ff;
}

.shutter-btn.active {
  transform: scale(0.96);
  box-shadow: 0 0 10px rgba(255,136,0,0.7);
  color: #fff;
}

/* ===== MOBILE ===== */
@media (max-width: 1024px) {

  .shutter-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
  }

  .shutter-row {
    justify-content: center;
    align-items: center;
  }

  .shutter-btn {
    height: 85px;
    width: 165px;
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 0;
    touch-action: none;
  }

  .shutter-action {
    width: 80px;
    height: 85px;
    border-radius: 20px;
    font-size: 1.2rem;
    background: #33e0ff;         
    border: 2px solid #1af0ff;
    color: #f5f9fa;
    transition: transform 0.05s ease, box-shadow 0.15s ease;
  }

  .shutter-action:active {
    transform: scale(0.96);
  }

  .shutter-action.active {
    background: #33e0ff;
    color: #fff;
    box-shadow: 0 0 12px rgba(51,224,255,0.9);
  }
}

@media (min-width: 1025px) {
  .shutter-action {
    display: none;
  }
}
