#content-area {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 8px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #33e0ff;
  border: 1px solid #1af0ff;
  color: #ffffffcc;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background: #33e0ff;
  box-shadow: 0 0 0 1px #1af0ff;
}



.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
